@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Light.woff2") format("woff2"),
        url("../public/fonts/Roboto-Light.woff") format("woff"),
        url("../public/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #38404b;
    font-family: Roboto;
}

.fade-in-from-bottom {
    transition: all ease-in 0.6s;
    animation-name: fade-in-from-bottom;
    animation-duration: 600ms;
    animation-iteration-count: 1;
}
@keyframes fade-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    ,
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-in-from-right {
    transition: all ease-out 0.6s;
    animation-name: fade-in-from-right;
    animation-duration: 700ms;
    animation-iteration-count: 1;
}
@keyframes fade-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(128px);
    }
    ,
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.ReactTags__tags {
}

.ReactTags__tagInput {
}

.ReactTags__tagInputField {
    background-color: transparent;
    padding: 4px;
    border: 1px solid rgba(148, 173, 207, 0.5);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 4px;
    padding-left: 4px;
    width: 100%;
}
.ReactTags__tagInputField:focus {
    border: 1px solid rgba(148, 173, 207, 1);
    outline: none;
}

.ReactTags__selected {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    margin-bottom: 10px;
}

.ReactTags__selected .ReactTags__tag {
    background-color: rgba(148, 173, 207, 1);
    border-radius: 4px;
    font-size: 14px;
    font-style: bold;
    color: #38404b;
    padding: 4px;
    text-align: center;
}

.ReactTags__selected .ReactTags__remove {
    color: rgba(185, 28, 28);
    margin-right: 5px;
    font-size: 16px;
    float: right;
}
/* .ReactTags__editTagInput {
    background-color: red;
} */
/* .ReactTags__editTagInputField {
    background-color: hotpink;
} */
/* ReactTags__clearAll   */

@media (min-width: 640px) {
    .ReactTags__selected {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .ReactTags__selected .ReactTags__tag {
        padding: 5px;
        font-size: 16px;
        margin-right: 6px;
    }
    .ReactTags__selected .ReactTags__remove {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .ReactTags__selected {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .ReactTags__selected .ReactTags__tag {
        font-size: 17px;
        padding: 5px;
    }
    .ReactTags__selected .ReactTags__remove {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .ReactTags__selected {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
