@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Light.woff2") format("woff2"),
        url("../public/fonts/Roboto-Light.woff") format("woff"),
        url("../public/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #38404b;
    font-family: Roboto;
}

.fade-in-from-bottom {
    transition: all ease-in 0.6s;
    animation-name: fade-in-from-bottom;
    animation-duration: 600ms;
    animation-iteration-count: 1;
}
@keyframes fade-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    ,
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
